<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">CIVACON</a>
  </div>

  <div >
    <ul class="nav navbar-nav">
    <li><a routerLink="/alerts">Alerts</a></li>
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/livetracking">Livetracking</a></li>
    <li><a routerLink="/reports">Reports</a></li>
    <li><a routerLink="/administration">Administration</a></li>
    <li><a routerLink="/login">Login</a></li>

  </ul>
  </div>
</nav>
<router-outlet></router-outlet>